<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>createMarkedFile</key>
	<false/>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>highlight.pack-ck.js</string>
		</array>
		<array>
			<string>index-ck.js</string>
		</array>
		<array>
			<string>jquery.fitvids-ck.js</string>
		</array>
		<array>
			<string>jquery.ghostHunter.min-ck.js</string>
		</array>
		<array>
			<string>readingTime.min-ck.js</string>
		</array>
	</array>
</dict>
</plist>
